<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
        <video src="http://127.0.0.1:8000/static/video/1.mp4" style="width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;" autoplay="autoplay" loop="loop" muted="muted"></video>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/ssbb.css"/>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/2.css"/>
	</head>
	<body>
		<header>
			<div class="heade"><div class="sjly">数据来源：丁香园， 腾讯， 百度</div></div>
			<div class="heade"><div id="bjsj">---</div></div>
			<div class="heade"><div class="ly"><a id="ly">更新时间: --</a><a href="#">　留言</a></div></div>
		</header>

		<section>
			<div class="box boxA">
				<div class="boxchild" id="bj"></div>
				<div class="boxchild" >
				    <div class="yq">
				        <ul class="fl">
				            <li class="today">
				                <p class="sz">本土现有确诊</p>
				            </li>

				            <li class="today">
									  <p class="sz">现有确诊</p>
								  </li>

				            <li class="today">
									  <p class="sz">累计确诊</p>
								  </li>
				        </ul>

					  <ul class="fl">
						  <li class="today">
							  <p class="sz">无症状感染者</p>
						  </li>

						  <li class="today">
							  <p class="sz">境外输入</p>
						  </li>

						  <li class="today">
							  <p class="sz">累计死亡</p>
						  </li>
					  </ul>

				    </div>
				  <div id="box1">
					  <div class="aa" id="aa">
						  <div>----</div>
						  <li>&nbsp;<a href="http://china.huanqiu.com/article/46ZWGNABlf3"
								target="_blank">---------------------------------------------</a></li>
						  <div class="timez">----</div>
						  <div>----</div>
						  <li>&nbsp;<a href="http://china.huanqiu.com/article/46ZWGNABlf3"
						  								target="_blank">---------------------------------------------</a></li>
						  <div class="timez">----</div>
						  <div>----</div>
						  <li>&nbsp;<a href="http://china.huanqiu.com/article/46ZWGNABlf3"
						  								target="_blank">---------------------------------------------</a></li>
						  <div class="timez">----</div>
						  <div>----</div>
						  <li>&nbsp;<a href="http://china.huanqiu.com/article/46ZWGNABlf3"
						  								target="_blank">---------------------------------------------</a></li>
						  <div class="timez">----</div>
						  <div>----</div>
						  <li>&nbsp;<a href="http://china.huanqiu.com/article/46ZWGNABlf3"
						  								target="_blank">---------------------------------------------</a></li>
						  <div class="timez">----</div>
						  <div>----</div>
						  <li>&nbsp;<a href="http://china.huanqiu.com/article/46ZWGNABlf3"
						  								target="_blank">---------------------------------------------</a></li>
						  <div class="timez">----</div>
					  </div>
					  <div id="aa1" class="aa">
					  </div>
				  </div>
				</div>
				<div class="boxchild">

					<div class="fxdqlb">
						<p class="fxdqlbp fxsl">---</p>
						<p class="fxdqlbp fxsl">---</p>
					</div>
					<div class="fxdqlb" id="fxdqlb">
						<div class="fxdqlbp fxdqlbpb">
							<div class="outer">
								<ul id="J_scroll1" class="pp">
									<li>　　--------------------------------------------------</li>
								</ul>
							</div>
						</div>
						<div class="fxdqlbp fxdqlbpb">
							<div class="outer">
								<ul id="J_scroll2" class="pp">
									<li>　　--------------------------------------------------</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="gfx" class="fxdt fxdt1"></div>
					<div id="zfx" class="fxdt fxdt2"></div>
				</div>

			</div>
			<div class="box boxB">
				<div id="gnmrxz" class="boxchild cc"></div>
				<div id="zgdt" class="boxchild cc"></div>
				<div id="yqbt" class="boxchild cc"></div>
			</div>
		</section>

	</body>
</html>
<script src="http://127.0.0.1:8000/static/js/jquery.min.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8000/static/js/echarts.min.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8000/static/js/china.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8000/static/js/chalk.js"></script>
<script src="http://127.0.0.1:8000/static/js/index.js"></script>